
server/*

!server/placeholder.txt

tools/ServerGridEditor-master/*
!tools/ServerGridEditor-master/placeholder.txt

tools/steamcmd/*
!tools/steamcmd/steamcmd.exe

#actual file with password and IP
tools/server-grid-files/ServerGrid-sensitive.json
